<div class="no_tweets">
  <p>まだ投稿がありません</p>
</div>

<!-- マップ -->
<div class="gmap_outside">
  <div class="gmap_inside" id="map"></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');

    // ユーザがまだ投稿をしていない時の処理
    if (<%=raw @hash.to_json %>.length == 0) {
      $(".no_tweets").show()
      var provider_detail = {
        zoom: 16,
        center: new google.maps.LatLng(34.6945, 135.195)
      }
    } else {
      var provider_detail = { }
    }

    handler.buildMap(
      {
        provider: provider_detail,
        internal: {id: 'map'}
      },
      function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      }
    );

    // 地図の高さ設定（window幅 - header高さ - footer高さ）
    var window_height = $(window).height();
    $(".gmap_inside").height(window_height-80);

</script>
