// body {
//   background-color: #ffffff;
//   font-size: 20px;
//   font-family: sans-serif;
//   margin: 0 auto;
// }

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

header {
  width: 100%;
  font-size: 18px;

  .header_bar {
    // background-color: #000000;
    background-color: black;
    height: 50px;
    margin: 0;
  }

  .user_nav {
    float: right;
    margin: 12px;

    a {
      width: 20px;
      text-decoration: none;
      color: white;
      margin: 10px;

      &:hover {
        // transition: .3s;
        color: gray;
      }
    }
  }
}

body {
  .area_search {
    height: 50px;
    width: 90%;
    margin: 30px auto;
    text-align: center;
    overflow: hidden;

    #search_address {
      width: 20%;
    }

    #search_button {
      width: 50px;
    }

    .clearfix:after {
      content: "";
      clear: both;
      display: block;
    }
  }

  .gmap_outside {
    // width: 800px;
    // margin: 0 auto;
  }

  .gmap_inside {
    width: 1200px;
    height: 400px;
    margin:0 auto;
    @media screen and (max-width: 767px) {
      width: 700px;
    }
  }
}
