@font-face {
  font-family: 'LearningCurve';
  src: url('LearningCurve.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6,p,label,a {
  color: #546E7A;
  font-family: Helvetica, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

html,body {
  // height: 100%;
  background-color: white;
}

header {

  #menu-box {
    background-color: orange;
    overflow: hidden;
    // height: 47px;

    #header-left {
      width: 10%;
      margin-top: 10px;
      float: left;

      a {
        color: white;
        margin-left: 20px;
        font-size: 30px;
        text-decoration: none;
        font-family: 'LearningCurve';
      }
    }

    #header-center {
      width: 45%;
      float: left;

      .area_search {
        height: 50px;
        text-align: right;
        overflow: hidden;

        #search-address {
          width: 50%;
          margin: 5px 0 0;
          border: 0;
          -webkit-appearance: none;
        }

        #area-search-button {
          width: 50px;
          margin: 5px 0 0;
          border: 0;
          background-color: white;
          -webkit-appearance: none;
        }

        @media screen and (max-width: 480px) {
          margin: 10px auto 10px;

          #search_address {
            width: 40%;
          }
        }

        .clearfix:after {
          content: "";
          clear: both;
          display: block;
        }
      }
    }

    #header-right {
      overflow: hidden;
      float: right;
      display: inline-block;
    }

    #profile-image{
      float: right;
      margin-top: 4px;
      text-align: center;
      margin-right: 10px;

      a {
        padding: 6px 0 0 0;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }

    #menu {
      width: 100%;
      margin: 0 auto;
      padding: 0;

      li {
        display: block;
        float: left;
        margin: 0 10px;
        padding: 0;

        a {
          display: block;
          padding: 12px 0 10px;
          background: orange;
          color: #fff;
          text-align: center;
          text-decoration: none;

          &:hover {
            color: gray;
            transition: .3s;
          }
        }
      }
    }

    #toggle {
     display: none;
    }

    // タブレットサイズ
    @media only screen and (max-width: 768px) {

      #header-left {
        display: none;
      }

      #header-center {
        width: 45%;
        float: left;

        .area_search {
          text-align: left;
          margin-left: 10px;

          #search_address {
            width: 60%;
          }

        }
      }

      #menu li {
        font-size: 15px;
        margin: 0 5px;
      }

    }

    // スマホサイズ
    @media only screen and (max-width: 480px) {
      #header-center {
        width: 76%;

        .area_search {
          text-align: center;
          margin: 0;

          #search_address {
            width: 50%;
          }
        }
      }

      #header-right {
        width: 100%;
        display: none;
      }

      #profile-image {
        width: 12%;
        margin-right: 0;
      }

      #toggle {
        display: block;
        position: relative;
        width: 12%;
        margin-top: 3px;
        float: left;
        background: orange;

        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 10px;
          width: 20px;
          height: 20px;
          margin-top: -10px;
          background: #fff;
        }

        a {
          width: 15%;
          height: 46px;
          display: block;
          position: relative;
          color: #fff;
          text-align: center;
          text-decoration: none;

          &:before, &:after{
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            left: 10px;
            width: 20px;
            height: 4px;
            background: orange;
          }

          &:before {
            margin-top: -6px;
          }

          &:after {
            margin-top: 2px;
          }
        }
      }

      #header-left {
        display: none;
        width: 76%;
        text-align: center;

        a {
          margin-left: 0;
        }
      }
    }
  }
}

body {
  margin: 0;

  .explain {

    p {
      text-align: center;
      @media screen and (max-width: 480px) {
        margin: 0;
      }
    }

  }

  .gmap_inside {
    width: 100%;
    margin:0 auto;

    @media screen and (max-width: 480px) {
      height: 350px;
    }

  }
}

footer {
  // width: 100%;
  // position: absolute;
  // bottom: 0;
  // background-color: white;

  p {
    font-size: 10px;
    color: #546E7A;
    text-align: center;
    padding: 10px 0;
    margin: 0;
  }
}


// サイドオープン時にメインコンテンツを覆う部分
.overlay {
  content: '';
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 3;
}
.overlay::after {
  visibility: hidden;
  position: fixed;
  top: 40%;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
  color: rgba(255,255,255,0);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.side-open .overlay {
  visibility: visible;
  cursor: pointer;
  background: rgba(0,0,0,.7);
}
.side-open .overlay::after {
  visibility: visible;
  color: rgba(255,255,255,.8);
}

// サイドメニュー
.side-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  padding-top: 150px;
  text-align: left;
  font-size: 13px;
  background: #333;
  z-index: 1;

  ul {
    list-style: none;
    padding: 0 0 0 20px;

    li {
      margin: 15px 0;

      a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        &:hover {
          transition: .2s;
          color: orange;
        }
      }
    }
  }
}

// メインコンテンツ
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  // font-size: 13px;
  background: white;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
}

// サイドメニューオープン
.side-open .wrapper,
.side-open .overlay {
  -webkit-transform: translate3d(150px, 0, 0);
  transform: translate3d(150px, 0, 0);
}
