@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

div.contents.row {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  .title {
    width: 500px;
    margin: 0 auto;
  }

  h2 {
    @include boxBase(20px 0, 0);
    font-weight: normal;
    strong {
      font-weight: bold;
      padding-right: 5px;
      font-size: 1.2em;
    }
  }
}

form {
  h3 {
    @include baseMargin(0 0 20px);
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #666;
  }
  input,textarea {
    width: 100%;
    @include boxBase(5px 0 15px,10px);
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
  }
  input[type="submit"] {
    background-color: #57C3E9;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
    &:hover {
      background-color: lighten(#57C3E9, 10%);
    }
  }
  #login_remember {
    display: inline-flex;
    float: left;
    input {
      width: 25px;
    }
    label {
      font-size: 15px;
    }
  }
  #forget_password {
    float: right;
    a {
      text-decoration: none;
    }
  }
}

.FbBtn {
  background-color: #3b5998;
  height: 45px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  border-radius: 4px;
  margin: 20px auto;
}

.FbBtn:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: image-url("FB-fLogo.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.FbBtnLabel {
    color: #ffffff;
    position: relative;
    top: 13px;
    text-align: center;
    margin: 0 20px 0 50px;
}
