@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

div.contents.row {
  -webkit-appearance: none;
  width: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 30px;
  border: #d0d0d0 solid 1px;
  overflow: hidden;

  .title {
    width: 100%;
    margin: 0 auto;
  }

  h2 {
    @include boxBase(20px 0, 0);
    font-weight: normal;
    text-align: center;
    strong {
      font-weight: bold;
      padding-right: 5px;
      font-size: 1.2em;
    }
  }

  #back {
    float: right;
    padding-top: 10px;
  }
}

form {
  .field {
    text-align: center;
    label {
      float: left;
      font-size: 12px;
    }
  }

  .actions {
    text-align: center;
  }

  h3 {
    @include baseMargin(0 0 20px);
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #666;
  }

  input,textarea {
    width: 90%;
    @include boxBase(0 0 10px, 10px);
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
  }

  input[type="submit"] {
    background-color: #57C3E9;
    border-radius: 20px;
    color: #fff;
    border: 0;
    margin: 10px;
    font-size: 18px;
    &:hover {
      background-color: lighten(#57C3E9, 10%);
    }
  }

  .sub_button {
    overflow: hidden;
    margin: 5px;

    #login_remember {
      display: inline-flex;
      float: left;
      padding-top: 4px;
      input {
        width: 25px;
      }
      label {
        padding-top: 1px;
        font-size: 12px;
      }
    }

    #forget_password {
      float: right;
      a {
        font-size: 12px;
        text-decoration: none;

        &:hover{
          color: gray;
          transition: .3s
        }
      }
    }
  }
}


// facebookログイン
.sns_login {
  text-align: center;
}

.FbBtn {
  background-color: #3b5998;
  height: 45px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  border-radius: 4px;
}

.FbBtn:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-image: image-url("FB-fLogo.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.FbBtnLabel {
  color: #ffffff;
  position: relative;
  top: 13px;
  text-align: center;
  margin: 0 20px 0 50px;
}
