.infowindow {
  form {
    text-align: center;

    .delete-link {
      float: right;
    }

    #crowd-label {
      margin-bottom: 5px;
      width: 80%;
      padding-left: 15px;
    }

    #genre-label {
      margin-bottom: 5px;
      width: 80%;
      padding-left: 15px;
    }

    #genre-form {
      margin-bottom: 15px;
    }

    input[type="radio"] {
      width: 10px;
      margin: 0;
      padding: 5px;
    }

    input[type="submit"] {
      background-color: #57C3E9;
      border-radius: 10px;
      color: #fff;
      border: 0;
      font-size: 12px;
      padding: 5px;
      margin: 0;
      &:hover {
        background-color: lighten(#57C3E9, 10%);
      }
    }
  }

  .tweet {
    div {
      margin: 0 5px;
    }

    #user-info {
      overflow: hidden;

      #user-avatar {
        float: left;
        img {
          width: 50px;
          height: 50px;
        }
      }

      #user-name {
        float: left;
        font-size: 15px;
      }

    }
  }
}
