body {
  .area_search {
    width: 200px;
    margin: 20px auto;

    #search_address {
      width: 200px;
    }

    #search_button {
      width: 50px;
    }

    .clearfix:after {
      content: "";
      clear: both;
      display: block;
    }
  }
  .gmap_outside {
    width: 800px;
    margin: 0 auto;
  }
  .gmap_inside {
    width: 800px;
    height: 400px;
  }
}
